#p {
    color: black; 
    text-align:right;
    padding: 25px;
    
}

.first-div {
    background-color: #FF5C35;
  }
  
  .second-div {
    background-color: #213343;
  }
  
  /*Additional styling begins below. */

  div{
    height: 200px;
    width: 100%;
    padding: 20px; 
    color: white;
  }